
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>About us</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content fullscreen>
      
      <ion-card >
        <ion-card-header>
          <ion-card-title>Mentors</ion-card-title>
         
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
                <img src="assets/img/Rishabh.jpeg" style="height: 300px;width: 300px;" />
                 <h1>Rishabh Arya</h1>
                 <h2>8209551718</h2>
                 <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/arya2331" >Click Here</ion-button>  
            </ion-col>
            <!----------------------------------------------->
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
              <img src="assets/img/tennis.jpg" style="height: 300px;width: 300px;" />
               <h1>Latika Patel</h1>
               <h2>9359484679</h2>
               <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/latika24" >Click Here</ion-button>  
            </ion-col>
           


            
           <!-- <ion-icon name="logo-github" style="width:40px; height:40px;"></ion-icon>
            <ion-button size="small" href="#" >Click Here</ion-button>
           -->
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card >
        <ion-card-header>
          <ion-card-title>Developers</ion-card-title>
         
        </ion-card-header>
        <ion-card-content>
          <ion-row justify-content-center>
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" >
                <img src="assets/img/Adarsh.png" style="height: 300px;width: 300px;" />
                 <h1>Adarsh Kumar</h1>
                 <h2>+91 9619347875</h2>
                 <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/adarshk28" >Click Here</ion-button>  
            </ion-col>
            <!----------------------------------------------->
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" >
              <img src="assets/img/Sahil.jpeg" style="height: 300px;width: 300px;" />
               <h1>Sahil Kumar</h1>
               <h2>+91 8281975214</h2>
               <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/SahilKumar2203" >Click Here</ion-button>  
            </ion-col>
            <!----------------------------------------------->
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" >
              <img src="assets/img/tennis.jpg" style="height: 300px;width: 300px;" />
               <h1>Kushal</h1>
               <h2>mobile</h2>
               <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/kushal-iitb" >Click Here</ion-button>  
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
                <img src="assets/img/tennis.jpg" style="height: 300px;width: 300px;" />
                 <h1>Sahil</h1>
                 <h2>mobile</h2>
                 <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/SahilKumar2203" >Click Here</ion-button>  
            </ion-col>
            <!----------------------------------------------->
            <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
              <img src="assets/img/Sakshi.jpeg" style="height: 300px;width: 300px;" />
               <h1>Kumari Sakshi</h1>
              
               <h2>7903427947</h2>
               <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/Sakshi-Kulshreshtha" >Click Here</ion-button>  
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  align-self-stretch>
                <img src="assets/img/vaibhavi.png" style="height: 300px;width: 300px;" />
                 <h1>Vaibhavi Agrawal</h1>
                 <h2>7610418239</h2>
                 <ion-icon name="logo-github" style="width:30px; height:30px;"></ion-icon>
              <ion-button size="small" href="https://github.com/VaibhaviAgrawal" >Click Here</ion-button>  
            </ion-col>
            <!----------------------------------------------->
          </ion-row>
        </ion-card-content>
      </ion-card>
     
      </ion-content>
 

