<ion-header>
  <ion-toolbar>
    <ion-title>professors</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/depts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table style="width:100%">
    <th>Professor Name</th>
    <th>Contact Number</th>
    <tr>
      <td><ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof A</ion-button></td>
      <td>123456789</td>
    </tr>
    <tr>
      <td><ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof B</ion-button></td>
      <td>234567891</td>
    </tr>
    <tr>
      <td><ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof C</ion-button></td>
      <td>345678912</td>
    </tr>
    <tr>
      <td><ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof D</ion-button></td>
      <td>456789123</td>
    </tr>
  </table>
</ion-content>
