<ion-header>
  <ion-toolbar>
    <ion-title>professors</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/depts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <div style="text-align: center; padding: 20px;"><ion-label >Department</ion-label></div>
    <div *ngFor="let prof of response"><ion-row><ion-col width-67><ion-item lines="full">
      <ion-label routerLink='/tabs/tab1/dept/{{ prof.prof_Name }}' routerDirection="forward">{{ prof.prof_Name }}</ion-label>
    </ion-item></ion-col>
    <ion-col width-33><ion-item lines="full" button (click)="Call()"><ion-label>{{ prof.phone_number }}</ion-label></ion-item></ion-col></ion-row></div>
  </ion-list>
</ion-content>
