<ion-header>
  <ion-toolbar>
    <ion-title>professors</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/depts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <div style="text-align: center; padding: 20px;"><ion-label >Department X</ion-label></div>
    <ion-row><ion-col><ion-item lines="full"><ion-label routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof A</ion-label></ion-item></ion-col>
    <ion-col><ion-item lines="full"><ion-label>123456789</ion-label></ion-item></ion-col></ion-row>
    <ion-row><ion-col><ion-item lines="full"><ion-label  routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof B</ion-label></ion-item></ion-col>
    <ion-col><ion-item lines="full">234567891</ion-item></ion-col></ion-row>
    <ion-row><ion-col><ion-item lines="full"><ion-label  routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof C</ion-label></ion-item></ion-col>
      <ion-col><ion-item lines="full">345678912</ion-item></ion-col></ion-row>
    <ion-row><ion-col><ion-item lines="full"><ion-label  routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof D</ion-label></ion-item></ion-col>
      <ion-col><ion-item lines="full">456789123</ion-item></ion-col></ion-row>
    <ion-row><ion-col><ion-item lines="full"><ion-label  routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Prof E</ion-label></ion-item></ion-col>
      <ion-col><ion-item lines="full">567891234</ion-item></ion-col></ion-row>
  </ion-list>
</ion-content>
