<ion-header>
  <ion-toolbar>
    <ion-title>Educational on-campus Institutions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/mainpage"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="text-align: center; padding: 20px;"><ion-label>Educational Institution Name</ion-label></div>
    <ion-item lines="full"><ion-label routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Campus School</ion-label></ion-item>
    <ion-item lines="full"><ion-label routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Kendriya Vidyalaya</ion-label></ion-item>
  </ion-list>
</ion-content>
