<ion-header>
  <ion-toolbar>
    <ion-title>Mainpage</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button routerLink='/tabs/tab1/depts' routerDirection="forward">Departments</ion-button>
  <br>
  <ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Academic Office</ion-button>
  <br>
  <ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">IITB Hospital</ion-button>
  <br>
  <ion-button routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Quick-Reaction Team</ion-button>
</ion-content>
