<ion-header>
  <ion-toolbar>
    <ion-title>Hostel Contacts</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/hostels"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="text-align: center; padding: 20px;"><ion-label>Directors Contacts</ion-label></div>
    <ion-item lines="full"><ion-label routerLink='/tabs/tab1/individualcontact' routerDirection="forward">General</ion-label></ion-item>
    <ion-item lines="full"><ion-label routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Office</ion-label></ion-item>
    <ion-item lines="full"><ion-label routerLink='/tabs/tab1/individualcontact' routerDirection="forward">Mess Manager</ion-label></ion-item>
  </ion-list>
</ion-content>
