<ion-header>
  <ion-toolbar>
    <ion-title>Depts</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1/mainpage"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table style="width:100%">
   <tr><th>Department Name</th></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Aerospace Engineering</ion-button></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Computer Science & Engg</ion-button></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Civil Engineering</ion-button></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Electrical Engineering</ion-button></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Environmental Science & Engg</ion-button></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Mechanical Engineering</ion-button></tr>
  <tr><ion-button routerLink='/tabs/tab1/professors' routerDirection="forward">Metallurgy & Material Sc</ion-button></tr>
  </table>
</ion-content>
